*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
nav{
    display: flex;
    align-items: center;
    background-color: white;
    height: 2vh;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;

}
.left-part,
.middle-part,
.right-part{
    display: flex;
    align-items: center;
}
.left-part p{
    font-weight: bold;
    font-size: 18px;
    color: #39373a;
}
.middle-part {
    gap: 20px;
}

.middle-part a{
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: black;
}
.middle-part a:hover{
    border-bottom: 2px solid #f5f5dc;
}
.right-part{
    gap: 10px;
}
.right-part p{
    font-size: 13px;
    color: #39373a;

}
.right-part i{
    font-size: 13px;
    color: #39373a;
}



.section1{
    background-image: url(../images/Untitled\ Project\ \(1\)\ \(1\)\ \(1\).jpg);
    background-size: 95vw;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.s1-left-part{
    padding-left: 150px;
}
.s1-p1{
    color:#8b8589 ;
    font-weight: bold;
    font-size: 10px;
    padding-bottom: 5px;
}
.s1-p2{
    font-size: 25px;
    padding-bottom: 20px;
    color: #39373a;
}
.s1-btn,
button{
    background-color: #39373a;
    color:#f5f5dc ;
    border: none;
    padding: 10px 30px;
    font-size: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.s1-btn:hover,
button:hover{
    background-color:#f5f5dc ;
    color: #39373a;
}
/* background-color: #f5f5dc;
    background-color: #8b8589; */
.links{
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.links a{
    text-decoration: none;
    font-size: 12px;
    color: #39373a;
    
}
.clothes-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.clothes-list div{
    text-align: center;
    border: 2px solid #f5f5dc ;
    height: 290px;
    margin-bottom: 20px;

}
.s2-p1{
    width: 200px;
    font-size: 12px;
    padding-bottom: 20px;
    color: #39373a;

}
.s2-p2{
    font-size: 12px;
    color: #39373a;
    padding-bottom: 10px;

}
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}
.section3 p{
    width: 550px;
    color: #39373a;
    font-weight: bold;
    padding-bottom: 10px;
}
.section3 a{
    color: #39373a;
    font-size: 10px;
}

footer{
    background-color: #39373a;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
    align-items: center;
    margin-top: 20px;

}
.d1{
    display: flex;
    align-items: center;

}
.d1 i{
    color: #f5f5dc;
    padding-right: 10px;
}
.d2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.d2 p{
    color: #f5f5dc;
    font-size: 13px;
}
input,
textarea{
    border: none;
    background-color: transparent;
    width: 100px;
    border-bottom: 1px solid  #f5f5dc;

}

.d2 button{
    background-color:#f5f5dc;
    color:#39373a ;
    border: none;
    padding: 10px 30px;
    font-size: 10px;
    cursor: pointer;
}
.d2 a{
    color: #f5f5dc;
    
}
.copy p{
    font-size: 6px;
}

@media (max-width:426px) {
    nav{
        display: flex;
        align-items: center;
        background-color: white;
        height: 2vh;
        text-align: center;
        justify-content: start;
        padding: 20px;
        padding-left: 0;
        padding-right: 0;
        gap: 30px;
    
    }
    .section1{
        background-image: url(../images/Untitled\ Project\ \(1\)\ \(1\)\ \(1\).jpg);
        background-size: cover;
        background-position: center;
        height: 40vh;
        background-repeat: no-repeat;
        margin: 10px;
    }
    .s1-left-part{
        padding-top: 120px;
        padding-left: 30px;
        
    }
    .s1-p2{
        width: 100px;
    }
    .clothes-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .section3{
        padding-top: 20px;

    }
    .section3 p{
        width: 360px;
    }
    footer{
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .d2{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}

